/* =====HOME PAGE===== */

.header {
    background-color: #23395B;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-bottom: 25px;
}

.header h1{
    display: grid;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 84px;
    font-weight: 600;
    color: #FFFD98;
    margin-bottom: 0;
}

.header h2 {
    display: grid;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
}

.about-me-btn {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background-color: #fff;
    border: 2px solid #D81E5B;
    border-radius: 10px;
    box-shadow: #D81E5B 4px 4px 0 0;
    color: #D81E5B;
    cursor: pointer;
    display: grid;
    margin: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    width: 150px;
    padding: 0 20px;
    margin-top: 50px;
}

.about-me-btn:hover {
    background-color: #d0d0d0;
}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 450px;
    height: fit-content;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.popup .content h1 {
    display: grid;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 600;
}

.popup .content p {
    display: grid;
    text-align: left;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 400;
}

.popup .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transistion:all 100ms ease-in-out;
    transform:translate(-50%, -50%) scale(1);

}

.portfolio-pic {
    width: 150px;
    border-radius: 50%;
}

.scroll-down {
    color: #D81E5B;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    align-items: center;
    gap: 5px;
    margin-left: 5%;
    margin-top: 15px;
}

.scroll-down h3 {
    display: grid;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
}

.scroll-down img {
    display: inline;
    width: 25px;
}
