/* =====HOME PAGE===== */

/* <-- HEADER --> */
header {
}

nav {
  margin: -8px;
}

#navbar {
  display: grid;
  position: fixed;
  width: 100%;
  height: 80px;
  grid-auto-flow: column;
  background-color: #fff;
  align-items: center;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 10px;
}

.logo img {
  display: grid;
  width: 65px;
  border-radius: 50%;
}

.portfolio-header {
  display: grid;
  font-family: 'Roboto', serif;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
  align-items: center;
}

#links {
  display: grid;
  position: fixed;
  left: 50%;
  right: 50%;
  justify-content: center;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  font-family: 'Roboto', sans-serif;
}

#links a {
  text-decoration: none;
  color: #23395b;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  min-width: max-content;
}

#links a:hover {
  color: #d81e5b;
}

.header-social-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  place-items: center;
  margin-left: auto;
  margin-right: 50px;
  gap: 2rem;
}

.header-linkedin {
}

.header-github {
}

.header-linkedin img {
  display: flex;
  width: 40px;
}

.header-github img {
  display: flex;
  width: 40px;
}

/* <-- HERO --> */

.hero-section {
  height: 100vh;
  background-color: #23395b;
  display: grid;
  align-items: center;
  margin-left: -8px;
  margin-right: -8px;
}

.hero {
  display: grid;
  padding-top: 100px;
  padding-bottom: 25px;
}

.hero h1 {
  display: grid;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 84px;
  font-weight: 600;
  color: #fffd98;
  margin-bottom: 0;
}

.hero h2 {
  display: grid;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  font-weight: 400;
  color: #fff;
}

.about-me-btn {
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  border: #fff solid 1px;
  box-shadow: 4px 4px 4px #d81e5b;
  background-color: #fff;
  color: #23395b;
  border-radius: 10px;
  cursor: pointer;
  display: grid;
  font-weight: 600;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  min-width: 150px;
  max-width: fit-content;
  padding: 0 20px;
  margin-top: 25px;
  margin-bottom: 70px;
}

.about-me-btn:hover {
  border: #d81e5b solid 1px;
}

.social-buttons {
  display: flex;
  place-content: center;
  gap: 15px;
}

.linkedin-logo img {
  width: 100px;
  border: #fff solid 1px;
  border-radius: 10px;
  padding: 9.25px 5px 9.25px 5px;
}

.github-logo img {
  width: 100px;
  border: #fff solid 1px;
  border-radius: 10px;
  padding: 5px;
}

.scroll-down {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  align-items: center;
  gap: 5px;
  margin-left: 50px;
  padding-top: 50px;
  position: absolute;
  bottom: 3%;
}

.scroll-down h3 {
  color: #d81e5b;
  letter-spacing: 2px;
  display: grid;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
}

.scroll-down img {
  display: inline;
  width: 25px;
}

.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup .content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fafafa;
  width: 650px;
  height: fit-content;
  z-index: 1001;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 10px;
  border: #000 solid 0.5px;
}

.popup .content h1 {
  display: grid;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 600;
}

.portfolio-pic {
  width: 150px;
  border-radius: 50%;
}

.about-me-social {
  display: flex;
  place-content: center;
  gap: 15px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.about-me-linkedin img {
  width: 40px;
}

.about-me-github img {
  width: 40px;
}

.popup .content p {
  display: grid;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: 500;
  display: inline !important;
  width: fit-content;
}

.popup .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transition: all 100ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

/* =====ABOUT ME===== */
.about-me-section {
  background-color: #fafafa;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-left: -8px;
  margin-right: -8px;
}

.about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 92%;
  max-width: 120rem;
  grid-gap: 5rem;
  justify-items: center;
}

.about-me-header {
  margin-top: 0px;
  padding-top: 50px;
  display: grid;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 54px;
  font-weight: 600;
  color: #23395b;
}

/* <-- ABOUT ME TEXT --> */

.about-me-text {
  width: 625px;
  height: auto;
}

.about-me h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000;
  text-align: left;
}

.about-me p {
  display: grid;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #666;
  display: inline !important;
  line-height: 2em;
}

.contact-btn {
  font-family: 'Montserrat', sans-serif;
  border: #fff solid 1px;
  box-shadow: 4px 4px 4px #d81e5b;
  background-color: #23395b;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  display: grid;
  font-weight: 600;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  min-width: 150px;
  max-width: fit-content;
  padding: 0 20px;
  margin-top: 25px;
  margin-bottom: 70px;
}

.contact-btn:hover {
  border: #d81e5b solid 1px;
}

/* <-- ABOUT ME SKILLS --> */

.about-me-skills {
  width: 625px;
  height: auto;
}

.skills .programming {
  margin-bottom: 2.5em;
}

.skills p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  text-align: left;
}

.skills a {
  display: inline-flex;
  margin: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #666;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgb(222, 222, 222);
  width: fit-content;
}

/* =====PROJECTS===== */
.projects-section {
  background-color: #23395b;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  height: 75vh;
  margin-left: -8px;
  margin-right: -8px;
}

.projects-header {
  margin-top: 0px;
  padding-top: 50px;
  display: grid;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 54px;
  font-weight: 600;
  color: #fff;
}
