/* =====HOME PAGE===== */

/* <-- HEADER --> */
header {

}

nav {
  margin: -8px;
}

#navbar {
  display: grid;
  position: fixed;
  width: 100%;
  min-height: 100px;
  grid-auto-flow: column;
  background-color: #fff;
  grid-gap: 1em;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 10px;
}

.logo img {
  display: grid;
  width: 65px;
  border-radius: 50%;
}

.portfolio-header {
  display: grid;
  font-family: 'Roboto', serif;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
  align-items: center;
}

#links {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  font-family: 'Roboto', sans-serif;
}

#links a {
  text-decoration: none;
  color: #23395b;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  min-width: max-content;
}

#links a:hover {
  color: #d81e5b;
  text-decoration: none;
}

/* <-- HERO --> */

.hero {
  background-color: #23395b;
  display: grid;
  padding-top: 100px;
  margin-left: -8px;
  margin-right: -8px;
  padding-bottom: 25px;
}

.hero h1 {
  display: grid;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 84px;
  font-weight: 600;
  color: #fffd98;
  margin-bottom: 0;
}

.hero h2 {
  display: grid;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  font-weight: 400;
  color: #fff;
}

.about-me-btn {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: #222 4px 4px 0 0;
  color: #000;
  cursor: pointer;
  display: grid;
  margin: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  width: 150px;
  padding: 0 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.about-me-btn:hover {
  background-color: #d0d0d0;
}

.social-buttons {
  display: flex;
  place-content: center;
  gap: 15px;
}

.linkedin-logo img {
  width: 100px;
  border: #fff solid 1px;
  border-radius: 10px;
  padding: 9.25px 5px 9.25px 5px;
}

.github-logo img {
  width: 100px;
  border: #fff solid 1px;
  border-radius: 10px;
  padding: 5px;
}

.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 450px;
  height: fit-content;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.popup .content h1 {
  display: grid;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 600;
}

.about-me-social {
  display: flex;
  place-content: center;
  gap: 15px;
  margin-top: 25px;
}

.about-me-linkedin img {
  width: 40px;
}

.about-me-github img {
  width: 40px;
}

.popup .content p {
  display: grid;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: 500;
}

.popup .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transistion: all 100ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.portfolio-pic {
  width: 150px;
  border-radius: 50%;
}

.scroll-down {
  color: #d81e5b;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  align-items: center;
  gap: 5px;
  margin-left: 5%;
  margin-top: 15px;
}

.scroll-down h3 {
  display: grid;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
}

.scroll-down img {
  display: inline;
  width: 25px;
}

/* =====ABOUT ME===== */

.about-me {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* <--- ABOUT ME TEXT ---> */

.about-me-text h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}

.about-me-skills h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}
